@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Nexa;
  src: url("/fonts/NexaLight.otf");
}
 
@font-face {
  font-family: AeionMono;
  src: url("/fonts/AeionMonoVariableTest-Regular.otf");
}

@font-face {
  font-family: AeionMonoSemiLight;
  src: url("/fonts/AeionMonoVariableTest-SemiLight.otf");
}

@font-face {
  font-family: Exo;
  src: url("/fonts/Exo-Regular.otf");
}

.custom-scroll::-webkit-scrollbar {
  width: 6px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #F7CA15;
  border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}
